body {
  margin: 10px;
}

.st-title-header {
  box-sizing: border-box;
  font-family: "Roboto Condensed", Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
  color: #393939;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

.st-title-header span {
  color: #0082c3;
}

.owl-carousel.std {
  margin-bottom: 20px;
}

.dateName span {
  font-size: 28px;
}

.owl-prev {
  left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8)!important;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  color: #000 !important;

}

.owl-next {
  left: auto;
  right: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8)!important;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  color: #000 !important;
}


/*/////////////// turn cards css ///////////////*/


/* turn on hover */
.turn-container:hover .turner {
	transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.turn-container, .front, .back {
  width: 90px;
  height: 120px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-bottom: 3px;
}

/* turn speed */
.turner {
	transition: 0.9s;
  -webkit-transition: 0.9s;
  transform-style: preserve-3d; /*flips the text on the back from l-r*/
  -webkit-transform-style: preserve-3d;
	position: relative;
}

/* hide back during turnover */
.front, .back {
	backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
	top: 0;
	left: 0;
}

/* front */
.front {
  border: 1px solid #eee;
  text-align: center;
  color: #0082C3;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
	z-index: 2; /*for Firefox*/
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
	transform: rotateY(0deg); /*for Firefox*/
  -webkit-transform: rotateY(0deg);
}

/* back */
.back {
  border: 1px solid #eee;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 130, 195,.5);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-backface-visibility: visible; /*for visibilty in Firefox*/
}

/*remove two cards to have good fit*/
@media only screen and (min-width: 990px) and (max-width: 1200px) {
  .hide {
    display: none;
  }
}

@media only screen and (min-width:300px) and (max-width: 370px) {
.st-title-header {
  font-size: 21px;
  }
}

@media only screen and (min-width:371px) and (max-width: 400px) {
.st-title-header {
  font-size: 28px;
  }
}
